<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">

<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
<div class="main-content">
    {{>header}}

    <p>Homepage text</p>
    <div id="chat-window">
        {{>chatbox}}
    </div>
</div>
<form>
    <input placeholder="Chat">
    <button>Send</button>
</form>

</div>

{{>footer}}

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/talk.js"></script>
</body>

</html>