<!DOCTYPE html>

<html>

<head>
    <title>Homepage</title>
</head>

<body>
<div class="main-content">
    {{>header}}

    <p>Homepage text</p>

    <form>
        <input placeholder="Chat">
        <button>Send</button>
    </form>

</div>

{{>footer}}

<script src="../../app.js"></script>
</body>

</html>