<div class="chat">
    <div class="">
        <span class="chat-line-1">{{name}}</span>
        <span class="chat-line-1">{{time}}</span>
    </div>
    <div class="chat-line-2">
        <p>{{message}}</p>
    </div>
</div>