{{!--
  Text Field Component

    Text type as a Variable to allow for reuse across codebase (Name/Description)
--}}

<div class="govuk-form-group">
    <label class="govuk-label" for="{{text-id}}">
        {{text}}
    </label>
    <input class="govuk-input" id="{{text-id}}" name="{{text-id}}" type="text" autocomplete="name" spellcheck="false">
</div>