body {
    padding: 50px;
    font: 14px Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.main-content {
    width: 50%;
}

.chat {
    border: 1px solid black;
    width: 50%;
}

.chat-line-1 {
    display: inline;
}